---
layout: default
title: Marco Díaz Maceda
cover: 'assets/images/cover1.jpg'
class: 'home-template'
navigation: True
logo: 'assets/images/ghost.png'
current: home
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header  -->

<head>
    <link rel="icon" href="assets/images/vec3.png">
</head>

<header class="main-header {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}
        <a class="blog-logo" href="{{ site.baseurl }}">
            <img src="assets/images/logo.png" alt="Webpage Logo" />
        </a>
        {% endif %}

        <div class="nav-buttons">
            <a class="no-menu-button" href="assets/pdf/CV_Marco (2).pdf", target="_blank">CV</a>
            <a class="no-menu-button" href="{{ '/talks/' | relative_url }}">Talks</a>
            <a class="no-menu-button" href="{{ '/research/' | relative_url }}">Research</a>
        </div>
    </nav>
    
    <div class="vertical">
        <div class="main-header-content inner bottom-right-title">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">{{ site.subtitle }}</h2>
        </div>
    </div>
    
    <div class="floating-menu">
        <div class="floating-bar">
            <a href="https://scholar.google.com/citations?user=V3lq1MkAAAAJ" target="_blank" class="recuadro-imagen">
                <img src="assets/images/Google_Scholar_logo.webp" class="imagen-boton">
            </a>
            <a href="https://arxiv.org/a/dmaceda_m_1.html", target="_blank">
                <img src="assets/images/arxiv-logomark-small@2x.jpg" class="imagen-boton" target="_blank">
            </a>
            <a href="https://inspirehep.net/authors/2920616?ui-citation-summary=true" target="_blank">
                <img src="assets/images/inspire-hep-icon.webp" class="imagen-boton">
            </a>
            <a href="https://orcid.org/0009-0001-8497-3963" target="_blank">
                <img src="assets/images/ORCID_iD.webp" class="imagen-boton">
            </a>
        </div>

        <div class="floating-button">
            ▴
        </div>
    </div>
</header>
